<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-title color="light" class="ion-no-padding" > Security </ion-title>
      <ion-text color="helios" slot="end" (click)="dismiss()">Close</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <form [formGroup]="configForm">
    <!-- <ion-item  color="dark">
      <ion-label>Use pin code</ion-label>
      <ion-toggle  color="helios" formControlName="use" (ionChange)="use()"></ion-toggle>
    </ion-item>
    <ion-item color="dark">
      <ion-label>New pin code</ion-label>
      <ion-button expand="block" color="helios" class="button" (click)="showLockscreen()">Reset</ion-button>
    </ion-item> -->
  </form>
</ion-content>
