<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-title color="light" class="ion-no-padding" > Security </ion-title>
      <ion-text color="helios" slot="end" (click)="dismiss()" class="pointer">Close</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-title color="helios"> White Pages </ion-title>
  <ion-item  class="pointer" color="dark" *ngFor="let whitePage of whiteList;let i = index" (click)='presentActionSheet(i, whitePage)'>
    <ion-label>
      <h2>{{whitePage}}</h2>
    </ion-label>
    <ion-icon  color="helios" name="trash" slot="end"></ion-icon>
  </ion-item>
</ion-content>
