<ion-content color="dark">
  <form [formGroup]="loginForm">
  <ion-grid>
    <ion-row style="margin-top: 25%;" class="ion-align-items-center">
      <ion-col size="6" class="ion-align-self-center" offset="3">
        <ion-img src="../../../assets/images/helios_protocol.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
	<ion-toolbar position="center" color="dark">
    <ion-grid >
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-item color="dark "class="login-fields">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" required  formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="dark">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" color="helios" (click)="login()" class="button">Sign in</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" color="helios" (click)="offline()" class="button">Local wallet mode</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="label-section-center">
    <ion-col class="ion-text-center">
      <ion-label class="text-name-center" >
        <h4>Don't have an account?</h4>
</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="label-section-center"  >
    <ion-col class="ion-text-center " >
      <a class="text-name-center a-tag-helios-color" [routerLink]="['/create-accounts']" >Create a new account
</a>
    </ion-col>
  </ion-row>
 
  </form>
</ion-content>


