<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon name="keypad"></ion-icon>
      <ion-label class="text-yellow">Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transaction">
      <ion-icon src="/assets/images/exchange.svg"></ion-icon>
      <ion-label class="text-yellow">Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon src="/assets/images/settings.svg"></ion-icon>
      <ion-label class="text-yellow">Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
