<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-item color="dark">
      <ion-title color="light" class="ion-no-padding">  Add wallet </ion-title> 
      <ion-icon color="helios" name="wallet" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
	<ion-toolbar position="bottom" color="dark">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-button expand="block" color="helios" [routerLink]="['/infowallet']" routerDirection="forward" class="button">Create wallet</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="helios" [routerLink]="['/import']" class="button">Import wallet</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
	</ion-toolbar>
</ion-content>
