<ion-header>
    <ion-toolbar color=dark>
        <ion-title class="ion-text-center">
            My Wallet
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <!-- BALANCE -->
    <ion-card class="black">
        <ion-card-header>
            <ion-card-title class="title text-white"><span>Balance</span></ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center ion-no-padding">
            <span class="title">hls </span><span class="text-white balance">{{balance}}</span>
        </ion-card-content>
    </ion-card>
    <!-- ACCOUNTS -->
    <ion-row>
        <ion-col size="10">
            <ion-title class="title title-accounts ion-text-left ion-no-padding"><span>Accounts</span></ion-title>
        </ion-col>
        <ion-col size="2">
            <ion-fab-button size="small" color="light" class="fab">
                <ion-icon style="color: #F2AA14;" name="add"></ion-icon>
            </ion-fab-button>
        </ion-col>
        <ion-col size="12">
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide>
                    <ion-card class="yellow full-width">
                        <ion-card-content>
                            <ion-fab-button size="small" color="light" class="fab" style="margin-right: 40px;">
                                <ion-icon name="logo-usd" class="icon-balance"></ion-icon>
                            </ion-fab-button>
                            <ion-icon name="more" class="icon-more"></ion-icon>
                            <br>
                            <span class="balance-accounts">{{balance}}</span>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card class="yellow full-width">
                        <ion-card-content>
                            <ion-fab-button size="small" color="light" class="fab" style="margin-right: 40px;">
                                <ion-icon name="logo-usd" class="icon-balance"></ion-icon>
                            </ion-fab-button>
                            <ion-icon name="more" class="icon-more"></ion-icon>
                            <br>
                            <span class="balance-accounts">{{balance}}</span>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
                <ion-slide>
                    <ion-card class="yellow full-width">
                        <ion-card-content>
                            <ion-fab-button size="small" color="light" class="fab" style="margin-right: 40px;">
                                <ion-icon name="logo-usd" class="icon-balance"></ion-icon>
                            </ion-fab-button>
                            <ion-icon name="more" class="icon-more"></ion-icon>
                            <br>
                            <span class="balance-accounts">{{balance}}</span>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-col>
        <!-- SEND -RECEIVE -->
        <ion-col>
            <ion-card class="yellow">
                <ion-card-content class="ion-text-center">
                    <ion-fab-button size="small" color="light" class="fab">
                        <ion-icon style="color: #F2AA14;" name="add"></ion-icon>
                    </ion-fab-button>
                    <br>
                    <span class="title">Send</span>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card class="yellow">
                <ion-card-content class="ion-text-center">
                    <ion-fab-button size="small" color="light" class="fab">
                        <ion-icon style="color: #F2AA14;" name="logo-usd"></ion-icon>
                    </ion-fab-button>
                    <br>
                    <span class="title">Receive</span>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <!-- <ion-item class="ion-text-center" color="dark">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-title>Balance</ion-title> 
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-label color="warning">{{balance}}</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item  color="dark">
        <ion-label>Wallet {{ wallet }}</ion-label>
    </ion-item> -->
</ion-content>