.title {
    font-weight: bold;
    font-size: 20px;
    //font-family: Quicksand;
}
.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    //font-family: Quicksand;
}

.title-accounts {
    padding-left: 20px;
}

.balance {
    font-weight: bold; 
    font-size: 40px;
    //font-family: Quicksand;
}

.icon-send {
    font-size: 20px;
}

.icon-more {
    font-size: 20px;
    color: #fff;
}

.balance-accounts {
    font-weight: bold;
    font-size: 20px;
    //font-family: Quicksand;
}

.fab {
    font-size: 12px;
    display: inline-grid;
    width: 30px;
    height: 30px;
    margin: 0;
}

ion-card-content {
    padding: 5px !important;
}

::ng-deep .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -4px !important;
    left: 0;
    width: 100%;
}

.balance-logo {
font-size: 35px;
    float: right;
}
.balance-main-logo {
    font-size: 25px;
        
    }
   .balance-second-logo{
        font-size: 14px;          
        }
.wallet-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
}
