<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark" lines="full">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="light" class="ion-no-padding" > Analytics </ion-title>
      <ion-icon color="helios" name="analytics" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color=dark>
<!-- TradingView Widget BEGIN -->
<!-- <div id="tradingview" class="tradingview-widget-container">
  <div id="tradingview_ebb56"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript">
  
  </script>
</div> -->
<!-- TradingView Widget END -->
<div id="chart"></div>
</ion-content>
