<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-title color="light" class="ion-no-padding" > Send </ion-title>
      <ion-text color="helios" slot="end" (click)="dismiss()" class="pointer">Close</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color=dark>
  <form [formGroup]="sendForm">
    <ion-item color="dark">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" inputmode="decimal" formControlName="amount" (ionChange)="updateTotals();checkAvalaibleBalance()"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Gas limit</ion-label>
      <ion-input type="number" inputmode="decimal" formControlName="gasPrice" (ionChange)="updateTotals();checkAvalaibleBalance()"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Currency</ion-label>
    <ion-select placeholder="Select One" formControlName="currency">
      <ion-select-option value="hls">Helios</ion-select-option>
      <!-- <ion-select-option value="usd">Usd</ion-select-option> -->
    </ion-select>
    </ion-item>
    <ion-item color="dark">
      <ion-label>To</ion-label>
    <ion-select placeholder="Select One" formControlName="to" (ionChange)="updateRequired()">
      <ion-select-option value="99">It is not a contact</ion-select-option>
      <ion-select-option *ngFor="let contact of contactsList" [value]="contact.address">{{contact.name}}</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item color="dark" *ngIf="sendForm.value.to === '99'">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="toAddress"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label>From</ion-label>
    <ion-select placeholder="Select One" formControlName="from"  [(ngModel)]="wallet" (ngModelChange)="setBalanceToWallet(wallet);" >
      <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.address">hls: {{wallet.balance | number:'1.0-2'}} usd: {{wallet.usd | number:'1.0-2'}}</ion-select-option>
    </ion-select>
    </ion-item>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          Fees  
        </ion-col>
        <ion-col>
          <span class="text-yellow">Gas price:</span> {{gasPrice}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Helios  
        </ion-col>
        <ion-col>
          <span class="text-yellow">HLS:</span> {{totalHls | number:'1.0-2'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong class="title">Total</strong>
        </ion-col>
        <ion-col>
         <strong class="text-yellow">$</strong><strong  class="title"> {{totalUsd | number:'1.0-2'}}</strong>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="helios" (click)="send()" class="button" [disabled]="isInvalid || sendForm.invalid ">Send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>