<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-title color="light" class="ion-no-padding" > Contacts </ion-title>
      <ion-text color="helios" slot="end" (click)="dismiss()">Close</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-avatar slot="start">
      <img src="http://ui-avatars.com/api/?background=e6d46a&color=000000&name=Carlos+Molina">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3 style="color: #e6d46a;">0x610DA...be6ec</h3>
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="helios">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
